<!doctype html>
<html>
    <head>

        <a href="/index">Home</a> | <a href="/blog">All Post</a> | <a href="/newPost">New Post</a> | | <a href="/login">Login</a> | <a href='/logout'>Log Out</a>

        <title>Build A Blog</title>

        <style>
            .error {
                color: red;
            }
        </style>

    </head>

    <body>

        {% with messages = get_flashed_messages(with_categories=True) %}



            {% for category, message in messages %}

                <p class="{{category}}">{{message}}</p>

            {% endfor %}


        {% endwith %}

        {% block content %}

        {% endblock %}
    </body>

</html>